ImageDownloaderFramework.xcodeproj/project.xcworkspace/xcuserdata/asafmoav.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
.DS_Store
ImageDownloaderFramework.xcworkspace/contents.xcworkspacedata
ImageDownloaderFramework.xcworkspace/xcuserdata/asafmoav.xcuserdatad/UserInterfaceState.xcuserstate
SampleApp/SampleApp.xcodeproj/project.xcworkspace/xcuserdata/asafmoav.xcuserdatad/UserInterfaceState.xcuserstate
SampleApp/SampleApp.xcodeproj/xcuserdata/asafmoav.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcbkptlist
.DS_Store
*.xcuserstate
ImageDownloaderFramework.xcodeproj/xcuserdata/asafmoav.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/xcuserdata/asafmoav.xcuserdatad/xcschemes/xcschememanagement.plist
